<div class="full-block-page-login mx-auto px-2 py-2">
    <div class="mx-5">
    
    <form *ngIf="true" (ngSubmit)="onSubmit(formCreateAccount); formCreateAccount.reset();" #formCreateAccount="ngForm">
        <div class="login-menu-1">
            <button class="btn btn-dark my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCreateAccount1" aria-expanded="false" aria-controls="collapseCreateAccount1">
                Nouveau compte
            </button>
        </div>

        <div class="collapse card card-body" id="collapseCreateAccount1">
            <div class="form-group">
                <label for="CreateAccount1">Identifiant</label>
                <input type="text" name="action" [ngModel]="'createAccount'" hidden>
                <input type="text" class="form-control border-dark" id="CreateAccount1" placeholder="Identifiant" name="username" ngModel required>
            </div>
            <div class="form-group">
                <label for="CreateAccountPassword1">Password</label>
                <input type="password" class="form-control" [ngClass]="{'border-dark': verifyPasswordStatus === 'border-dark', 'border-danger border-2': verifyPasswordStatus === 'border-danger'}" id="CreateAccountPassword1" placeholder="Mot de passe" name="password" ngModel required>
                <input type="password" class="form-control my-1" [ngClass]="{'border-dark': verifyPasswordStatus === 'border-dark', 'border-danger border-2': verifyPasswordStatus === 'border-danger'}" id="CreateAccountPassword2" placeholder="Vérification mot de passe" name="passwordVerify" ngModel required>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input border-dark" id="CreateAccountCheck1" name="CreateAccountCheck1" ngModel required>
                <label class="form-check-label" for="CreateAccountCheck1">J'ai lu les 
                    <a class="" routerLink="/mentions-legales">mentions legales</a>
                </label>
            </div>
            <button type="submit" [disabled]="formCreateAccount.invalid" class="btn btn-dark">Créer compte</button>
        </div>
    </form>

    <form *ngIf="true" (ngSubmit)="onSubmit(formConnectUser); formConnectUser.reset();" #formConnectUser="ngForm">
        <div class="login-menu-2">
            <button class="btn btn-dark my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseConnectUser1" aria-expanded="false" aria-controls="collapseConnectUser1">
                Se connecter
            </button>
        </div>

        <div *ngIf="true" class="collapse card card-body" id="collapseConnectUser1">
            <div class="form-group">
                <label for="ConnectUser1">Identifiant</label>
                <input type="text" name="action" [ngModel]="'connectUser'" hidden>
                <input type="text" class="form-control border-dark" id="ConnectUser1" placeholder="Identifiant" name="username" ngModel required>
            </div>
            <div class="form-group">
                <label for="ConnectUserPassword1">Password</label>
                <input type="password" class="form-control mb-1 border-dark" id="ConnectUserPassword1" placeholder="Mot de passe" name="password" ngModel required>
            </div>
            <button type="submit" [disabled]="formConnectUser.invalid" class="btn btn-dark">Se connecter</button>
        </div>
    </form>

        <div *ngIf="true" class="login-menu-3">
            <button class="btn btn-danger my-2" type="button" (click)="launchLogOutUser()">
                Se deconnecter
            </button>
        </div>


        <div class="full-block-page-login-after">
            <img class="" src="../../assets/all-content/pictures/libertymessage-picture-light.png" alt="">
        </div>

    </div>
</div>

