.full-block-page-dialogue
{
    min-height: 200px;
    overflow-wrap: break-word;
}
.full-block-page-dialogue svg
{
    height: 40px;
    fill: #212529;
}
.full-block-page-dialogue svg:hover, 
.full-block-page-dialogue svg:hover, 
.full-block-page-dialogue svg:active 
{
    fill: #00387B;
}
.full-block-page-dialogue form textarea
{
    height: 42px;
}
.full-block-page-dialogue form button
{
    border: 0px solid white;
}
.custom-text-area
{
    resize: none;
    height: 40px;
}
.custom-small-font
{
    font-size: 0.75em;
}

.fixed-bottom .custom-target-name
{
    text-align: center;
}

.full-block-page-dialogue .position-fixed button
{
    border: none;
}

.custom-dialogue-content .custom-bottom-padding
{
    height: 140px;
    width: 70px;
}