.full-block-page-discuss
{
    max-height: 100%;
    max-width: 1000px;
    margin-bottom: 60px;
}
.full-block-page-discuss .custom-discuss-content
{
    overflow: auto;
}
.custom-discuss-link
{
    display: block;
}
a:link, 
a:visited, 
a:hover, 
a:active
{
    text-decoration: none;
}
.custom-discuss-icon-1 svg
{
    fill: #212529;
    max-width: 36px;
}
.custom-discuss-icon-2 svg
{
    fill: #212529;
    max-width: 24px;
}
.custom-discuss-icon-plus
{
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
}
.custom-discuss-icon-plus svg
{
    fill: #212529;
    width: 42px;
}
.custom-small-font
{
    font-size: 0.75em;
}
