// use media queries et position fixed et pour discuss fixed aussi au bottom
.custom-block-page-header
{
    min-height: 100px;
    max-width: 1000px;
}
.custom-header-logo
{
    height: 30px;
    width: 100%;
}
.custom-header-icon
{
    min-height: 70px;
}