<div class="custom-block-page-header border border-3 border-dark">

    <div class="custom-header-logo border border-1">
        <p>logo</p>
    </div>

    <div class="d-flex">

        <div class="custom-header-icon col border border-1">
            <p>icon1</p>
        </div>

        <div class="custom-header-icon col border border-1">
            <p>icon2</p>
        </div>

        <div class="custom-header-icon col border border-1">
            <p>icon3</p>
        </div>

    </div>
</div>