body
{
	background-color: #373737;
	/*background-color: #FFFFFF;*/
	padding-top: 115px;
}
.custom-top-title 
{
	position: fixed;
	top: 0;
	right: 0;
	background-color: #373737;
}
.button
{
	background-color: #373737;
	border: 2px solid black;
	border-radius: 20px;
}
.input
{
	background-color: #373737;
	border: 2px solid black;
	border-radius: 10px;
	width: 200px;
}
.input-area
{
	background-color: #373737;
	border: 2px solid black;
	border-radius: 10px;
	width: 200px;
	resize: none;
}
.button:hover
{
	background-color: black;
	color: #373737;
}
input[type='checkbox']
{
	filter: grayscale(100%);
}