<div class="mx-auto full-block-page-terms px-2 py-2 ">
    <div class="mx-2">
    <p>Mentions Légales</p>
    <p
        >Mentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions LégalesMentions 
        LégalesMentions LégalesMentions LégalesMentions LégalesMentions Légales
    </p>
    </div>
</div>
