<div class="mx-auto full-block-page-terms px-2 py-2 ">
    <div class="mx-3">
    <p class="custom-terms-title">Mentions Légales</p>
    <p class="custom-terms-content">
        Le site Liberty Message est un projet open source de messagerie instantanée 
        actuellement en version de test, et n’a pas vocation à devenir un réseau social. 
        <br><br>
        Vous êtes informés que vous naviguez sur ce site en tant que testeur, 
        et à ce titre, vous vous engagez à ne pas y poster des informations sensibles ou personnelles. 
        <br><br>
        Un nom d’utilisateur et un mot de passe sont demandés lors de la création d’un compte. 
        Le nom d’utilisateur est stocké dans la base de donnée en clair sur le serveur, et apparaît dans les messages qui seront rédigés. Le mot de passe est stocké dans la base de donnée dans une version chiffrée non réversible. Les messages postés sont stockés dans la base de donnée dans une version chiffrée réversible, et sont déchiffrés par le serveur à chaque lecture. Les messages ne peuvent êtres lus que par les deux personnes de la discussion. 
        <br><br>
        Lors de la suppression d’un compte utilisateur, le compte deviendra inactif, et le nom d’utilisateur remplacé par une mention ‘Profil supprimé’. Les discussions précédentes resteront accessibles par l’autre utilisateur dont le compte est encore valide. Vous pouvez toutefois supprimer définitivement toutes vos discussions avant de supprimer votre compte, cela aura pour effet de supprimer ces mêmes discussions du côté des autres utilisateurs  concernés. 
        <br><br>
        L’équipe de développement de Liberty Message décline toute responsabilité en cas d’usage détourné de ce site. Vous pouvez toutefois vous inspirer de ce projet pour concevoir votre propre application de messagerie.
        <br><br>
        Vous devez prendre connaissance de ce texte pour pouvoir créer un compte sur le site.
    </p>
    </div>
</div>
