.full-block-page-terms
{
    max-width: 1000px;
    display: flex;
    justify-content: center;
}
.full-block-page-terms .custom-terms-title
{
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}
.full-block-page-terms .custom-terms-content
{
    align-items: center;
    text-align: justify;
}